.input{
    border: none;
    border-radius: 30px;
    width: 380px;
    font-size: 25px;
    transform: translateX(-57px);
    height: 71px;
    padding-left: 30px;
}
.input:focus{
    outline: 1px solid #01e281;
}
.label{
    display: flex;
    align-items: center;
    color: #7a7a7a;
    transform: translate(120px,-60px);
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 900;
    width: 135px;
}
.label span{
    color: red;
    font-size: 20px;
    font-weight: 900;
}
::placeholder{
    color: #7a7a7a;
    font-size: 25px;
    font-weight: 400;
    opacity: 0.7;
}
.hr{
    width: 150%;
    opacity: 0.5;
}
.paragreph{
    font-size: 25px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .input {
        width: 200px; 
        font-size: 18px; 
        height: 50px;
        padding-left: 10px; 
        transform: translateX(0);
    }

    .label {
        font-size: 14px;
        transform: translate(-119px, 23px);
        margin-bottom: 15px;
    }

    .paragreph {
        font-size: 18px; 
    }
}

@media screen and (max-width: 767px) {
    .input {
        width: 320px !important;
        font-size: 18px;
        height: 50px;
        margin: auto;
        padding-left: 10px;
        transform: translateX(0);
    }

    .label {
        font-size: 14px;
        transform: translate(-109px, 23px);
        margin-bottom: 15px;
    }

    .paragreph {
        font-size: 18px; 
    }
}