.topBar{
    width: 96%;
    height: 80px;
    background-color: #01e281;
    color: #173850;
    margin: 0px 20px;
    padding-top: 13px;
    text-align: center;
    border-radius: 40px;
}

@media (max-width: 1200px) {
    .topBar {
        height: 70px; 
        margin: 0px 10px;
    }
}

@media (max-width: 768px) {
    .topBar {
        text-align: center;
        height: 85px;
        margin: 0px 5px;
        padding-top: 1px;
    }
}

@media (max-width: 480px) {
    .topBar {
        height: 50px; 
        margin: 0px 2px;
        padding-top: 8px; 
        font-size: 14px; 
    }
}